.controls_menu {
  padding-top: 30px;
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(205, 202, 202);

  .controls_menu_block1 {
    padding-left: 25px;
  }
  .controls_menu_block2 {
    padding-right: 25px;
  }
}
